In [1]:
%load_ext iventure.magics

session_id: fsaad@probcomp-1.csail.mit.edu_2017-12-17T11:01:50.651828_6

In [5]:
%bayesdb -j :memory:

u'Loaded: :memory:'

In [6]:
%bql CREATE TABLE satellites_t FROM 'resources/satellites.csv'
%bql .nullify satellites_t NaN

Nullified 3032 cells

In [8]:
%%mml
CREATE POPULATION satellites FOR satellites_t WITH SCHEMA(
    GUESS STATTYPES OF (*);
)

Empty DataFrame
Columns: []
Index: []

In [10]:
%mml CREATE GENERATOR satellites_m FOR satellites;
%mml INITIALIZE 16 MODELS FOR satellites_m;
%mml ANALYZE satellites_m FOR 100 ITERATION (OPTIMIZED; QUIET);

Empty DataFrame
Columns: []
Index: []

In [11]:
%multiprocess off

Multiprocessing turned off from on.

In [12]:
%%bql
ESTIMATE
    "name",
    "apogee_km",
    "perigee_km",
    "period_minutes"
FROM satellites
WHERE (
    PREDICTIVE PROBABILITY OF period_minutes
    > PREDICTIVE PROBABILITY OF period_minutes GIVEN ("apogee_km", "perigee_km")
);

,name,apogee_km,perigee_km,period_minutes
0,"Advanced Orion 6 (NRO L-15, USA 237)",35805,35771,23.94
1,DSP 20 (USA 149) (Defense Support Program),35909,35897,142.08
2,"SDS III-6 (Satellite Data System) NRO L-27, Gr...",35803,35770,14.36
3,"SDS III-7 (Satellite Data System) NRO L-38, Dr...",35805,35771,23.94
4,Sirius 1 (SD Radio 1),47100,23783,1418.50
5,"Van Allen Probe A (RBSP-A, Radiation Belt Stor...",30534,591,539.06
6,"Van Allen Probe B (RBSP-B, Radiation Belt Stor...",30657,595,541.40